* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
}

header h1 {
  margin-bottom: 0;
  color: white;
}

.grid-wrapper {
  height: 90vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
  align-items: center; 
  justify-content: center;
  height: 600px; 
  width: 600px; 
  font-size: 0.8rem;
}

.grid div {
  border: 1px solid rgb(109, 109, 109); 
  flex-grow: 1;
  height: 5%;
  width: 5%; 
}

.grid div.fish {
  background-image: url('../images/fish.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.wall {
  background-color: coral;
}









footer {
  display: flex;
  justify-content: center;
}