* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
  /* How do I make this cover the whole page? */
  background-image: url('../images/ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header h1 {
  color: navy;
  margin-bottom: 0.3rem;
  /* font-family: 'Londrina Shadow', cursive; */
  /* font-family: 'Nerko One', cursive; */
  font-family: 'Galindo', cursive;
} 

header p {
  margin-top: 0;
  color: rgb(0, 94, 255);
  font-style: italic;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.menu button {
  font-family: 'Galindo', cursive;
  color: white;
  font-size: 1.3rem;
  margin: 0 1rem;
  background-color: rgba(0, 128, 128);
  padding: 10px;
  border-radius: 25px;
  border: 1px solid rgb(0, 94, 94);
  cursor: pointer;
}

#rules h5 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

#rules > ul {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  text-align: left;
  margin: 1rem auto;
}

#rules > ul > li {
  margin-top: 1rem;
}

#rules > ul > li > img {
  float: right;
  width: 70px;
  border-radius: 50px;
  border: 1px solid rgb(35, 87, 120);
  margin: 5px;
}

.how-to-play {
  width: 50vw;
  position: absolute;
}

.hide-list {
  display: none;
}


.menu button:hover {
  background-color: rgb(0, 94, 94);
}

.score-wrapper {
  font-family: 'Galindo', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 40vw;
  font-size: 1.5rem;
  background-color: rgba(0, 128, 128, 0.5);
  margin: 1rem auto;
  border-radius: 25px;
  border: 1px solid rgb(0, 128, 128);
}

.score-wrapper p {
  margin: 0.5rem;
}

.score {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
}

.grid-wrapper {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  height: 600px; 
  width: 600px; 
  font-size: 2rem;
  font-family: 'Galindo', cursive;
  color: white;
  background-color: lightskyblue;
}

.grid div {
  background-color: skyblue;
  flex-grow: 1;
  height: 5%;
  width: 5%; 
}

/* FISH CLASS */
.grid div.fish {
  background-image: url('../images/fish.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* LOBSTER CLASS */
.grid div.lobster {
  background-image: url('../images/lobster.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* SHELL CLASS */
.grid div.shell {
  background-image: url('../images/shell.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite; 
}

@keyframes blink {
  0% {
    background-image: url('../images/shell.png');
  }
  50% {
    background-image: none;
  }
  100% {
    background-image: url('../images/shell.png');
  }
} 

/* WALL CLASS */
.grid div.wall {
  background-image: url('../images/coral.png');
  background-size: cover;
  border: 1px solid rgba(240, 128, 128, 0.3);
}

/* PAC-SHARK EAST-FACING */
.grid div.shark-e {
  background-image: url('../images/shark-e.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: chomp-e;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

/* PAC-SHARK WEST-FACING */
.grid div.shark-w {
  background-image: url('../images/shark-w.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: chomp-w;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

/* PAC-SHARK NORTH-FACING */
.grid div.shark-n {
  background-image: url('../images/shark-n.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: chomp-n;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

/* PAC-SHARK SOUTH-FACING */
.grid div.shark-s {
  background-image: url('../images/shark-s.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: chomp-s;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

@keyframes chomp-e {
  0% {
    background-image: url('../images/shark-e.png');
  }
  50% {
    background-image: url('../images/shark-e-chomp.png');
  }
  100% {
    background-image: url('../images/shark-e.png');
  }
}

@keyframes chomp-w {
  0% {
    background-image: url('../images/shark-w.png');
  }
  50% {
    background-image: url('../images/shark-w-chomp.png');
  }
  100% {
    background-image: url('../images/shark-w.png');
  }
}

@keyframes chomp-n {
  0% {
    background-image: url('../images/shark-n.png');
  }
  50% {
    background-image: url('../images/shark-n-chomp.png');
  }
  100% {
    background-image: url('../images/shark-n.png');
  }
}

@keyframes chomp-s {
  0% {
    background-image: url('../images/shark-s.png');
  }
  50% {
    background-image: url('../images/shark-s-chomp.png');
  }
  100% {
    background-image: url('../images/shark-s.png');
  }
}

/* ORCA CLASS */
.grid div.orca {
  background-image: url('../images/orca.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  animation: flip;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flip {
  0% {
    background-image: url('../images/orca.jpg');
  }
  47% {
    background-image: url('../images/orca.jpg');
  }
  50% {
    background-image: url('../images/orca-flip.jpg');
  }
  97% {
    background-image: url('../images/orca-flip.jpg');
  }
  100% {
    background-image: url('../images/orca.jpg');
  }
}

/* OCTOPUS CLASS */
.grid div.octopus {
  background-image: url('../images/octopus.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: flare;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flare {
  0% {
    background-image: url('../images/octopus.png');
  }
  25% {
    background-image: url('../images/octopus-style.png');
  }
  50% {
    background-image: url('../images/octopus-flare.png');
  }
  75% {
    background-image: url('../images/octopus-swag.png');
  }
  100% {
    background-image: url('../images/octopus.png');
  }
}

/* OCTOPUS FLASHING CLASS */
.grid div.octopus-flash {
  background-image: url('../images/octopus.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {
    background-image: url('../images/octopus.png');
  }
  50% {
    background-image: url('../images/octopus-flash.png');;
  }
  100% {
    background-image: url('../images/octopus-style.png');
  }
}